.navbar-toggler {
  border: 0px;
}

h1, h4, h2, h5 {
  color: #EEEEEE;
  font-family: 'Playfair Display', serif;
}

h5 {
  color: #EEEEEE;
  font-style: italic;
}

body {
  margin: 0;
}

.btn {
  color: white !important;
  border: 1px solid white !important;
  width: 170px;
  height: 45px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #181A1D;
}

.navbar {
  padding-bottom: 3%;
}

.nav-link {
  color: #EEEEEE !important;
  width: 150px;
  font-size: 1.5rem !important;
  font-family: 'Open Sans', sans-serif !important;
}

.title-col {
  padding: 17% 100px 0 17%;
}

.boarder-picture {
  width: 70%;
}

/* section 2 */
#portfolio {
  text-align: center;
  margin: 10px 0;
  padding: 2% 0;
}

/* github column style */
.mbr-justify-content-center {
  padding: 2% 5%;
  margin: 0;
}

.wrap {
  display: flex;
  background: #151515;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px -3px rgba(238, 238, 238, 1);
  margin-bottom: 2rem;
  text-align: left;
}

.wrap:hover {
  background: linear-gradient(90deg, #3B3B3B 0%, #151515 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #EEEEEE;
  margin: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
}

.mbr-bold {
  font-weight: 700;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
  color: #EEEEEE;
}

.display-6 {
  padding-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem
}


/* About section */
#contact {
  text-align: center;
  margin: 10px 0;
  padding: 2% 0 0 0;
}

.contact-title {
  padding: 0 10%;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container-fluid {
  padding: 8% 15%;
}

.contactContrainer {
    padding: 3% 10%;
}

.framework-row {
  padding: 1% 15%;
}

.framework-Image {
  width: 120px;
  height: 120px;
  padding: 20px;
}

.social {
  width: 100%;
  height: 70px;
  padding: 1% 35% 0 35%;
  margin: 0;
}

.social-image {
  width: 70px;
  padding: 10px;
}

@media (max-width: 1150px) {
  .framework-image {
    padding: 10%;
    width: 100px;
    height: 100px;
  }

  .social {
    padding: 1% 25% 0 25%;
  }

  .framework {
    padding: 10% 10%;
  }

  .framework-row {
    padding: 2% 0;
  }

  .social-image {
    width: 60px;
    margin: 0;
  }
}

@media (max-width: 770px) {
  .boarder-picture {
    width: 50%;
  }

  .main-page-col {
    text-align: center;
  }

  .title-col {
    padding: 0 0 3% 0;
  }

  h5 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .display-5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .social-image {
    width: 50px;
    padding: 0 -20px;
  }

  .framework {
    padding: 10% 0;
  }


  .social {
    padding: 0 15% 0 15%;
  }

}
